html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    

  }
  #block-info{
    margin-top: 60px;
  }
  section {
    margin-top: 70px;
   
}

  

   li, .nav .navbar-brand .navbar { 
    color: #d5d5d5 ;
    margin-top: 50px;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  fieldset{  
    box-shadow: 0px 2px 5px #1c1a19;
    background-color: white;
  }

  
  .img-profil{
    border-radius: 150px;
  }

  .portfolio-item-info {
  background-color: aqua;
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 300px;
  
  transition: width 2s;
  }
  .bg-1{
    background-color: #37373a;

  }
  .bg-2{
    background-image: url(img/convention-stage.jpg);
    
  }
  #block-stage{
    box-shadow: 0px 2px 5px #1c1a19;
    margin-top: 150px;
    background-color:rgb(233, 231, 230);

    
    
    
  }
  
  
  .thumbnail {
    margin-left: 110px;
  }
    
  #titre-Container-diplome{
    color: #d5d5d5;
  }

  
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 20%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }

